<%- include("header") %>
<div class="container mt-5">
  <h3>Category List</h3>
  <table class="table table-bordered">
    <thead class="bg-warning text-white">
      <tr>
        <th>#</th>
        <th>Category Name</th>
      </tr>
    </thead>
    <tbody>
      <% categories.map((cat, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= cat.name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include("footer") %>
